footer {
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 30px;
}
.logoFooter {
  display: flex;
  align-items: center;
  gap: 20px;
}
.containerStore {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.containerStore img {
  cursor: pointer;
}
